/* Testiominals */ 
.card-main-Testominals2{
    border: none!important;
   box-shadow:5px 5px 5px rgba(0, 0, 0, 0.281)!important;
   background-color: white!important;
   max-width:200px!important;
}
.card-main-Testominals2.card-img {
    padding: 16px !important;
    max-height: 100px !important;
    max-width: 100px !important;
}
.review2>h4{
   position: relative;
   font-size: 18px;
   color: black;

 
}
.review2>h4::before{
    position: absolute;
    display: block;
    content: "";
    top: 100%;
    left: 0;
    height:1px;
    width: 50%;
    background-color: rgba(128, 128, 128, 0.438);
}
.review2>h5{
    font-size: 14px;
    color:black;

}

.review2>img{
    margin-top: 0px;
    width: 20px;
    height: 20px;
}
