.bgSection{
    background-color: #3B7FBF;
}

.card-imgPort{
    width: 100%!important;
    height: 200px!important;
}
.cardmainPortfolioSec{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px!important;
    border: none!important;
    border-radius:10px!important;
}
.cardmainPortfolioSec:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px  rgb(0, 0, 0,0.4)!important;
}
.allcardDataPortfolioSec h3{
    font-size: 20px;
    color: #3B7FBF;

}
.allcardDataPortfolioSec h6{
    font-size: 17px;
}
.allcardDataPortfolioSec p{
    font-size: 14px;
}
.allcardDataPortfolioSec>h6>span{
    font-weight: 500;
}


.allportfoliobutton{
    gap:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    background-color: rgba(128, 128, 128, 0.055);
}
.allportfoliobutton>button{
    display: inline-flex!important;
    justify-content: center!important;
    align-items: center!important;
    font-size: .85rem;
    cursor: pointer;
    font-weight: 500!important;
    letter-spacing: 2px!important;
   overflow: hidden!important;
   box-shadow:none!important;
   border: none!important;
   background-color:rgba(128, 128, 128, 0)!important;
   color: #5E5E5E!important;
   border-radius: 0px!important;
   text-transform: uppercase;
   border-left: 0.5px solid rgba(128, 128, 128, 0.226)!important;

}
.secportbutton{
    gap:25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.055);

}
.secportbutton>button{
    display: block;
    font-size: .85rem;
    cursor: pointer;
    font-weight: 500!important;
    letter-spacing: 2px!important;
    background-color:rgba(128, 128, 128, 0)!important;
    color:#5E5E5E!important;
    box-shadow:none!important;
    border: none!important;
    border-radius: 0px!important;
    text-transform: uppercase;
    border-left: 0.5px solid rgba(128, 128, 128, 0.226)!important;

}
.secportbutton>button:hover{
    padding-bottom:5px!important;
            border-bottom-style: solid!important;
            border-bottom-width: 2.5px!important;
            width: fit-content!important;
            border-bottom-color: #3B7FBF!important;
}
.allportfoliobutton>button:hover{
    padding-bottom:5px!important;
            border-bottom-style: solid!important;
            border-bottom-width: 2.5px!important;
            width: fit-content!important;
            border-bottom-color: #3B7FBF!important;
}



.read-more-btn{
    position: relative!important;
    display: flex!important;
    justify-content:center!important;
    align-items: center!important;
    align-items: center;
    width: 120px!important;
    height: 100%important;
    background: none!important;
    border: 1px solid #3B7FBF !important;
    font-weight: 550 !important;
    outline: none!important;
    font-size: .85rem;
    cursor: pointer;
    letter-spacing: 2px!important;
   box-shadow:5px 5px 5px  5px (0,0,0,0.9)!important;
   overflow: hidden!important;
   z-index: 1!important;
   box-shadow:none !important;
   color: #3B7FBF!important;
   z-index: 1!important;
   border-radius: 5px!important;



}
.read-more-btn:nth-child(1){
background: transparent!important;
}
.read-more-btn::before{
content: "";
position: absolute!important;
top: 0;
left: 0;
width: 0!important;
height: 100%!important;
background:#3B7FBF!important;
z-index: -1!Important;
transition: .7s!important;
border-radius: 5px!important;
}
.read-more-btn:hover::before{
width: 100%!important;
}
.read-more-btn:hover{
    color: white!important;
}
.explore-btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px!important;
    height: 100%important;
    background: none!important;
    border: 1px solid white !important;
    outline: none!important;
    font-size: .85rem;
    cursor: pointer;
    font-weight: 550!important;
    letter-spacing: 2px!important;
   box-shadow:5px 5px 5px  5px (0,0,0,0.9)!important;
   overflow: hidden!important;
   z-index: 1!important;
   box-shadow:none !important;
   color: white!important;
   border-radius: 5px!important;


}
.explore-btn :nth-child(1){
background: transparent!important;
}
.explore-btn::before{
content: "";
position: absolute!important;
top: 0;
left: 0;
width: 0!important;
height: 100%!important;
background:white!important;
z-index: -1!Important;
transition: .7s!important;
border-radius: 5px!important;
}
.explore-btn:hover::before{
width: 100%!important;
}
.explore-btn:hover{
    color: #3B7FBF!important;

}