.inputfield{
    border:1px solid rgba(59, 127, 191, 0.308)!important;
    border-radius: 5px!important;
    box-shadow: none!important;  
    outline: none!important;  
    font-size:19px;
    font-weight: 600;
    letter-spacing: 2px;
}
.inputfield:focus{
    border: 1px solid gray!important;
}
.card-main-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px!important;
    border: 1px solid #3b7fbf63!important;
    border-radius: 0px!important;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.144)!important;
    transition: 0.3ms ease-in-out;
    border-radius:10px!important;
}
.card-main-blog:hover{
    transform: translateY(-2px);
   
}
.title-h4>h4{
    font-size: 20px;
    color: rgb(59, 127, 191);
    font-weight: 600;

}
.card-imag0main-blog{
    border-radius:10px!important;
    max-height:200px!important;
    padding: 10px;


}
.card-text-mainblog{
    font-size: 14px;
    font-weight: 500;
}
