.port-text{
    position: relative;
    text-align: center;
}
.port-text .icon-link{
    position: absolute; 
    font-weight: bold!important;
    color: black;
    right: 50%;
    top: 200px;
    font-weight: bold;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    cursor:pointer;
}
.port-text:hover .icon-link {
    opacity:1;
}

.card-portfolio-main{
    max-width: 600px!important;
   min-height:350px!important;
   position: relative!important;
   border: 1px solid rgba(94, 94, 94, 0.123)!important;
}
.AllbuttonForMove{
    display: flex;
    justify-content:center;
    align-items: center;
    gap:3px;
    padding-top:10px;
 
}

.AllbuttonForMove Button {
    background-color: rgba(94, 94, 94, 0.267)!important;
    border: none!important;
    box-shadow: none!important;
    color: black!Important;
 
}

 .port-text.slide{
    transform: translateX(-50%);
 }


