.blog-post-linkallmaindiv{
    font-size: 15px;
    font: weight 400;    
}
.coldiv{
    box-shadow: 5px 5px 5px 10px rgba(0, 0, 0, 0.116);
    background-color: white;
    height: 800px;


}



.blog-post-linkallmaindiv>ul>div>li{
    list-style: none;
    line-height: 2px;
    cursor: pointer;
}
.blog-post-linkallmaindiv>h3:active{
    border-bottom: 1px solid #3b7fbf;
    border-bottom-width: 2px;
    

    
}