

.MainrodivSmo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height:60vh;

}
.MainrodivSmo > div > h1 {
    -webkit-background-clip: text;
    color:white;
    text-shadow: 2px  2px  5px #3b7fbff3, 0 0 1px #4ed0ff;
}
.btn2{
    background-color: #3B7FBF!important;
    border: none!important;
    color: #FFFFFF !important;
    border-radius: 5px !important;
    margin-bottom:20px !important;
    font-weight:550 !important;
    outline: none !important;
    border: none !important;
    box-shadow: none!important;
}
.btn2:hover{
    background-color: #5E5E5E !important;
    font-weight:550 !important;
    box-shadow: none!important;
}
.btn-3{
    background: linear-gradient(to bottom, rgba(59,127,191), rgba(78,207,255));
    border: none!important;
    color: #FFFFFF !important;
    border-radius: 5px !important;
    font-weight:550 !important;
    outline: none !important;
    border: 1px solid rgba(255, 255, 255, 0.733)!important;
    box-shadow: none!important;
    padding: 10px;

}
.btn-3:hover{
    background-color: #5E5E5E!important;
    border: 0px!important;
}
.image-smo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:80%;
    padding:40px;

}
.image-smo2 {
    display: flex;
    justify-content: center;
    align-items: center;


}
@media (max-width: 768px) {
    .bgim {
      background-image: none !important;
    }
  }

.btn1{
    display: inline-block!important;
    color: #5E5E5E!important;
    background-color: #FFFFFF!important;
    font-weight:550!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;

}
.btn1:hover{
    color: #FFFFFF!important;
    background-color:#3B7FBF!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;

}

.bgsection-homepage-smo{
    background-color:rgb(90, 161, 227,20%);
}
.bgsection2-homepage-smo {
    background: linear-gradient(to bottom, rgba(59,127,191), rgba(78,207,255));
}


.custom-shadow{
    margin-top: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.199);
    background-color: white!important;
   border-radius:10px;
    height:65vh;
}
.custom2-shadow{
    text-align: center;
    width: 330px;
    min-height:330px;
    background-color: white;
    box-shadow: 0px 5px 5px 5px  rgba(0, 0, 0, 0.137);
    border-radius:20px;
}

.img-shadow  img {
    border-radius:5%;
}
 

.allimages img {
    transition: transform 0.3s ease-in-out;
}

.allimages img:hover {
    transform: scale(1.1); 
}




