
.main-heading{
    position: relative;
}
.btn-main-banner-knw-more{
    display: inline-block!important;
    color: #5E5E5E!important;
    background-color: #FFFFFF!important;
    font-weight:550!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
 

}
.btn-main-banner-knw-more:hover{
    color: #FFFFFF!important;
    background-color:#3B7FBF!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;

}
