.vols{
    color: #3b7fbf6c;
}




























































































.btn1{
    color: #3B7FBF!important;
    font-weight: 550!important;
}

.btn1:hover {
    background-color: black !important;
    color: white !important;
    font-weight: 550!important;
}

.spacing p {
    letter-spacing: 2px!important;
    font-weight: 450!important;
    font-size: 15px!important;
}

.spacing .spacing2 {
    letter-spacing: 2px!important;
    font-weight: 450!important;
    font-size: 15px!important;


}

.formlayout{
    position: relative;
    mix-blend-mode: normal;
}
/* For button */
.btm {
    position: relative!important;
    display: inline-block;
    background-color: #3B7FBF!important;
    color: white!important;
    border:  1px solid white !important;
    width: 150px;
    font-weight: 550 !important;
    height: 40px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none!important;
    z-index: 1!important;
  }
  .btm :nth-child(-n+2){
    background: transparent!important;
    font-weight: bold!important;
  }
  .btm::before{
    position: absolute!important;
    content: ""!important;
    top: 0!important;
    left: 0!important;
    background-color: white!important;
    z-index: -1!important;
    width: 0!important;
    height: 100%!important;
    transition: .5s!important;
    color:#3B7FBF!important;
  }
  .btm:hover::before {
   width: 100%!important;
  }
  .btm:hover {
    color: #3B7FBF !important;
    font-weight: 550 !important;
    transition: .5s!important;
    z-index: 2!important;

}
  

  .btm1 {
    display: inline-block;
    background-color: #5e5e5e !important;
    color: #ffffff !important;
    border: 1px solid #5e5e5e !important;
    width: 150px;
    font-weight: 550 !important;
    height: 40px;
    border-radius: 5px;
    box-shadow: none!important;

  }
  .btnmain{
    display: inline-block;
    color:#3B7FBF!important;
    border: 1px solid #5e5e5e91!important;
    width: 150px;
    font-weight: 550 !important;
    height: 40px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none!important;
}
.btnmain:hover{
    color: white!important;
    font-weight: 550!important;
    background-color:#3B7FBF !important;
    border: none!important;
    box-shadow: none!important;
    outline: none!important;
}
  .btm1:hover {
    color:white !important;
    background-color: #3B7FBF !important;
    font-weight: 550 !important;
    outline: none !important;
    border: none !important;
    box-shadow: none!important;
  }
.Form{
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.178)!important;
    border-top-right-radius: 15%!important;
    border-bottom-left-radius: 15%!important;
    /* padding-top:3rem!important; */
    


}

.form-Group {
    margin-bottom:10px!important;
    box-shadow:none !important;
    
  
}

.form-label {
    margin-top:15px;
    margin-left:55px;
    font-weight: bold!important;
    display: block!important; 
    box-shadow:none !important;
    
}

.form-control-main-page{
    width:80%!important; /* Make the input width 100% */
    margin: auto;
    border: none!important;
    border-radius: 0px!important;
    border-bottom: 1px solid gray!important;
    background-color: white!important;
    outline: none!important;
    box-shadow:none !important;
    
}
.form-check-mian-page{
    margin-left:55px;
    margin-top: 10px;
    box-shadow:none !important;
}
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
         -webkit-appearance: none;
      }

.btnsubmit{
    background-color: #3B7FBF!important;
    color: white!important;
    outline: none!important;
     border: none!important;
     cursor: pointer;
     font-weight: 550!important;
     letter-spacing: 2px!important;
     box-shadow: none!important;

}
.btnsubmit:hover{
    background-color:#0a4883!important;
     outline: none!important;
     border: none!important;
     box-shadow: none!important;

}
.btnsubmit:active{
    border: none!important;
    outline: none!important;
    box-shadow: none!important;

}
.instra{
    width: 30px;
    height: auto;
}
figcaption{
    position: absolute;
    bottom: 15rem;
    color:white;
     margin: 0 4rem;
     font-size: 1.6rem;
     letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
    figcaption {
        position: absolute;
        bottom: 5rem;
        margin: 5rem;
        font-size:1rem;
        color:white;
    }
}

@media screen  and (max-width: 575.98px){
    .text-resize-md {
        position: inherit;
        position:inherit;
        bottom: inherit;
        margin: .25rem 0px;
        font-size: 10px;
        color: inherit;
    }
}
/* For heading 1  */

.hed1{
    font-size: 55px!important;
    font-weight:bold !important;
    letter-spacing: 2px !important;
}
@media (min-width: 992px) {
    .hed1{
        font-size: 55px!important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .hed1{
        font-size: 45px!important;
    }
}
@media (max-width: 767.98px) {
    .hed1 {
        font-size: 30px!important;
    }
} 
@media screen  and (max-width: 575.98px) {
    .hed1 {
        font-size: 20px!important;
    }
}


/* For h2  */

.hed2{
    font-size:25px;
    font-weight:600;
    color: #5e5e5e;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .hed2{
        font-size: 38px!important;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .hed2{
        font-size: 30px!important;
    }
}
@media (max-width: 768px) and (min-width:576px) {
    .hed2 {
        font-size:22px!important;
    }
}
@media screen  and (max-width: 576px) and(min-width:360px) {
    .hed2 {
        font-size: 20px!important;
    }
}
/* heading 3  */
.hed3{
    font-size: 22px !important;
    letter-spacing: 2px;
}

@media (min-width: 992px) {
    .hed3 {
        font-size:22px!important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .hed3{
        font-size:20px!important;
    }
}
@media (max-width: 767.98px) {
    .hed3 {
        font-size: 18px!important;
    }
}

@media (max-width: 576px){
    .hed3 {
        font-size: 16px!important;
        letter-spacing: 1px;
    }
    .hed3{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp:1; /* Adjust the number of lines to show */
        -webkit-box-orient: vertical;

      }
}
/* //For banner para */
@media (max-width: 768px) and (min-width:576px) {
    .bannerpara {
        font-size: 12px!important;
        letter-spacing: 1px;
    }
    .bannerpara {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Adjust the number of lines to show */
        -webkit-box-orient: vertical;
      }
      
}
@media (max-width: 576px) and (min-width:360px) {
    .bannerpara{
        font-size: 11px;
        letter-spacing: 0px;
    }
    .bannerpara{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Adjust the number of lines to show */
        -webkit-box-orient: vertical;
      }
}

/* For parra */

.sm{
font-size:15px!important;
letter-spacing:2px;
font-weight: 450;
text-align: justify;
}
.subheading-sections{
    font-size: 15px;
    color: #5e5e5e;
    letter-spacing:2px;
    font-weight: 450;
    text-align: center;
}


@media (min-width: 992px) {
    .sm{
        font-size:15px!important;
    }
}
@media (min-width: 768px) and (max-width: 1000px) {
    .sm{
        font-size:13px;
    }
}
@media (max-width: 768px) and (min-width:576px) {
    .sm {
        font-size: 12px!important;
        letter-spacing: 1px;
    }
    
}



@media (max-width: 576px) and (min-width:360px) {
    .sm {
        font-size: 11px;
        letter-spacing: 0px;
    }
    
}
@media (max-width: 767.98px) {
    .txt {

     font-size: 10.5px;
    }
}


/* Our Clients */
.allclients{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    color:#5e5e5e3a;

} 
.allclients img{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.078);
    border-radius:40px;
    width: 200px;
    height: 150px;
    padding: 20px;
}
.clients-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width:650px;
    height:150px;
    background-color: white;
    padding: 40px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;


}
.clients-card2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;


}
.clients-card:hover{
    border-top: 15px solid rgba(0, 0, 0, 0.164);
    border-bottom: 15px solid rgba(0,0,0,0.164);

}
.clients-card2 img{
    width: 100px;
    height: 80px;
}
.clients-card2 h5{
    font-size: 18px;

}
.clients-card2 p{
    font-size: 14px;
}
.clients-card2 img:hover {
    transform: rotateY(-360deg);
    transition: transform 300ms ease-in-out;
}

.custom-card:hover{
    background-color:#3B7FBF!important;
    transform: translateY(-5px);
    opacity:unset;

}


.custom-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform: rotate(70deg);
    opacity: 0.5;
    filter: blur(10px);
    transition: filter 0.3s ease, top 0.3s ease;
}

.custom-card:hover::before {
    filter: blur(0);
    top: -200%; 

}

.custom-card .card-body {
    position: relative;
    z-index: 1; 
    color:white; 
}
 
/* Home page Resoponsive */
/* 1st section */
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .banner-images-firstsection{
        height:40vh!important; /* or specify a pixel value */
    }

}
@media screen and (min-width: 768px) and (max-width: 1000px) { 
    .banner-images-firstsection{
        height:38vh!important; /* or specify a pixel value */
    }


}
@media  screen and (max-width: 768px) and (min-width: 576px) { 
    .banner-images-firstsection{
        height:32vh!important; /* or specify a pixel value */
        width: 400px!important;
    }
 }
 @media screen and  (max-width: 576px) { 
    .banner-images-firstsection{
        height:30vh!important; /* or specify a pixel value */
        width:300px!important;
    }

 }
 /* //Our clinets */

 @media screen and (max-width:576px) and (min-width:300px){

    .allclients img{
        width: 120px;
        height: 80px;
        border-radius:20px;
        padding: 10px;
        
    }
    
 }
 
 /* //Our clinets */

 @media screen and (max-width:360px) {

    .allclients img{
        width: 100px;
        height:80px;
        border-radius:20px;
        padding: 10px;
        
    }
    .banner-text-all{
        padding-left: 20px;
    }
    .banner-text-all>h1{
        font-size:16px;

    }
    .banner-text-all>h3{
        font-size: 12px;
    }
    .banner-text-all>p{
        font-size: 10px;
    }
    
 }
 /* //Contact section */

 @media screen  and (max-width:768px) and (min-width:576px){
    .contactpartnerimage>div>img{
        width: 100px;
        height: 50px;
    }

 }
 @media screen  and (max-width:576px) and (min-width:360px){
    .contactpartnerimage>div>img{
        width: 80px;
        height: 50px;
    }

 }
