

.MainrodivSem{
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height:60vh;

}
.MainrodivSem > div > h1{
    -webkit-background-clip: text;
    color:white;
    text-shadow: 2px  2px  5px #3b7fbff3, 0 0 1px #4ed0ff;
}

.image-smo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius:80%;
    padding:40px;

}
.para{
    color:rgba(94,94,94,100%)!important;
    font-size:20px!important;
}
@media (max-width: 768px) {
    .bgrem {
      background-image: none !important;
    }
  }

.bgsection-homepage-sem{
    background-color:rgb(90, 161, 227,20%);
}
.bgsectionsem2{
    background: linear-gradient(to bottom, rgba(59,127,191), rgba(78,207,255));
    border-top-right-radius:250px;
    border-bottom-left-radius:200px;
}
.bgsectionsem1{
    background: linear-gradient(to bottom, rgba(59,127,191), rgba(78,207,255));
    border-top-right-radius: 250px;
    border-bottom-left-radius:100px;
}

.custom-shadow{
    margin-top: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.199);
    background-color: white!important;
   border-radius:10px;
    height:65vh;
}
.custom2-shadow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 330px;
    background-color: white;
    box-shadow: 2px 5px 5px 5px  rgba(0, 0, 0, 0.089);
    border-radius:20px;
    padding: 10px;
}
.Semproj-shadow{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    background-color: white;
    box-shadow: 2px 5px 5px 5px  rgba(0, 0, 0, 0.068);
    border-radius:10px;
    padding: 20px;
   



}

.img-shadow  img {
    border-radius:5%;
}
.para{
    color:rgba(94,94,94,100%)!important;
    font-size:18px!important;
}
.allimages img {
    transition: transform 0.3s ease-in-out;
}

.allimages img:hover {
    transform: scale(1.1); 
}
@media screen and  (max-width: 1000px)  {
    .para{
        color: rgba(94,94,94,100%) !important;
        font-size:17px !important;
    
    }    
 }
 @media screen and  (max-width: 768px) {
    .para{
        color: rgba(94,94,94,100%) !important;
        font-size:15px !important;
    
    }


  }

@media screen and  (max-width: 576px) {
    .para{
        color: rgba(94,94,94,100%) !important;
        font-size:14px !important;
    
    }

  }
@media screen  and (max-width:576px){
    .bgsectionsem1{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
    }
    
    .bgsectionsem2{
        border-top-right-radius:0px;
        border-bottom-left-radius:0px;
    }
}
     
