.alltechnicalbutton{
    gap:5px;
    display:flex;
    justify-content: center;
    align-items: center;
  
}
.alltechnicalbutton>button{
    display:flex!important;
    justify-content: center!important;
    align-items: center!important;
    font-size: .85rem;
    cursor: pointer;
    font-weight: 500!important;
    letter-spacing: 2px!important;
   overflow: hidden!important;
   box-shadow:none!important;
   border: none!important;
   background-color:rgba(128, 128, 128, 0)!important;
   color: #5E5E5E!important;
   border-radius: 0px!important;
   text-transform: uppercase;
   border-left: 0.5px solid rgba(128, 128, 128, 0.226)!important;

}
.alltechincalshowdatadiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0px;
  

}
.alltechincalshowdatadiv>div{
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:204px;
    height:209px;
    box-shadow: 5.02px 15.06px 40px  0px  rgb(154, 170, 207,25%);
    transition: 0.3ms ease-in-out;

}
.alltechincalshowdatadiv>div:hover{
    box-shadow: 5.02px 10px 30px 15px rgba(154, 170, 207,25%);
    border-radius:0px;
    transform: rotateY(-10px);
}
.alltechincalshowdatadiv>div>h3{
    background: linear-gradient(to bottom, #4ECFFF, #3B7FBF);
    -webkit-background-clip: text;
    color: transparent;
     text-shadow: 3px 0 5px , #3B7FBF, #4ECFFF;
}

.alltechincalshowdatadiv>div>img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    
}






@media screen and (max-width:786px) {
    .alltechincalshowdatadiv{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;
        padding:10px 0px;
    
    }
    .alltechincalshowdatadiv>div{
        width:60px;
        height:10vh;
        padding-top:10px;
    
    }  
.alltechincalshowdatadiv>div>img{
    margin:0px 0px;
    width:50px;
    height:30px;
 
    
}
.alltechincalshowdatadiv>div>p{
    font-weight:200;
    font-size:10px;
    width:100%;
    margin-top:5px;

}
    
}