.navmaindiv{
    z-index: 1000!important;
    position:sticky;
    top: 0;
}
 .navlinkmenutitle{
    color: #5e5e5e!important;
    font-weight:500!important;
    font-size: 18px!important;
}
.navlinkmenutitle:hover {
    color:#3B7FBF !important;
    text-decoration: underline;
    text-underline-offset:10px;
    text-decoration-thickness:2.5px
}
.navlinkmenutitle:hover>a{
    display: block!important;
}

.btnmain{
    position: relative!important;
    display: inline-block;
    background-color: white!important;
    border: 1px solid #5e5e5e !important;
    width: 150px;
    font-weight: 550!important;
    height: 40px;
    border-radius:5px;
    outline: none !important;
    box-shadow: none!important;
    z-index: 1!important;
  }
  .btnmain :nth-child(1){
    background: transparent!important;
    font-weight: bold!important;
  }
  .btnmain::before{
    position: absolute!important;
    content: ""!important;
    top: 0!important;
    left: 0!important;
    background-color:#3B7FBF !important;
    z-index: -1!important;
    width: 0!important;
    height: 100%!important;
    transition: .5s!important;
    color:white!important;
  }
  .btnmain:hover::before {
   width: 100%!important;
  }
  .btnmain:hover {
    color: #3B7FBF !important;
    font-weight: 550 !important;
    transition: .5s!important;
    z-index: 2!important;

}

.btnmain{
    display: inline-block;
    color:#3B7FBF  !important;
    border: 1px solid #5e5e5e91!important;
    width: 150px;
    font-weight: 550 !important;
    height: 40px;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none!important;
}
.btnmain:hover{
    color: white!important;
    font-weight: 550!important;
    background-color:#3B7FBF !important;
    border: none!important;
    box-shadow: none!important;
}
.navbar-nav .dropdown-menu{
    border-radius: 0px!important;
}

.dropdown-item:active{
    background-color:white!important;
    color: #000!important;

}
.dropDownMwnuItems{
    position: relative!important;
}
.dropDownMwnuItems>div{
    position: absolute!important;
    top: -11px!important;
    left: 157px!important;
    border-left: 0px!important;
}
.dropDownMwnuItems>a::after{
    display: none!important;
}

  
  
  

    

  





