.Pormainsec-text{
    text-align:justify;
}
.port-button{
    display: flex;
    justify-content: center;
    align-items: center;

}
.port-button>button{
    color: white!important;
    background-color: #5E5E5E!important;
    box-shadow:none!important;
    border: none!important;
    cursor: pointer;
    width: 150px;
    font-weight:550;
    padding: 10px;
    border-radius: 5px;

}
.port-button:hover>button{
    background-color: #3b7fbf!important;
}
.Por1-text{
    text-align: center;
    color: #5E5E5E;
    font-size: 14px;
    padding-bottom:40px;
}
.Por1-text>h3{
    padding-bottom: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
.Por1-text>p{
    color: #5E5E5E;
    font-weight:500;
}
.Por1-text>span{
    color: #5E5E5E;
    font-weight:500;

}
