/* Testiominals */ 
.card-main-Testominals{
    display:flex!important;
    justify-content: center!important;
    border: none!important;
   box-shadow:5px 5px 5px rgba(0, 0, 0, 0.281)!important;
   background-color: #FFFF!important;

}
.cardinnerdata{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:250px;
}
.card-img-testominials .card-img{   
    max-height:150px !important;
    max-width: 250px !important;
    border-radius: 50%!important;
}
.review{
    padding: 0px;
}

.review h4{
   position: relative;
   font-size: 22px;
   color: #5e5e5e;
   font-weight:600;
 
}
.review h4::before{
    position: absolute;
    display: block;
    content: "";
    top: 100%;
    left: 0;
    height:1px;
    width: 100%;
    background-color:#5e5e5e5d;
}
.review h5{
    font-size: 14px;
    color: #5e5e5e;
}
.testpara{
    font-size: 14px;
    color: #5e5e5e;
}


.review img{
    margin-top: 0px;
    width: 20px;
    height: 20px;

}
.testominialsindicators>div>a>.carousel-control-prev-icon {
    border-radius: 50px!important;
    border: 2px solid white!important;
    background-color:transparent!important;
    padding: 10px; 
    position: absolute;
    left:-5px;
}
.testominialsindicators>div>a>.carousel-control-next-icon{
    border-radius: 50px!important;
    border: 2px solid white!important;
    background-color:transparent!important;
    padding: 10px; 
    position: absolute;
    right: -5px;

}
 @media screen and  (max-width: 576px) { 
.cardinnerdata{
    gap: 50px;
}

}


@media screen and (max-width:576px) and (min-width:300px)  {
    .testominialsindicators>div>a>.carousel-control-next-icon {
        display: none!important;
    }
    .testominialsindicators>div>a>.carousel-control-prev-icon {
        display: none!important;
    }
    
}


