/* Testiominals */ 
.card-main-Testominals{
    display:flex!important;
align-items: center !important;
    border: none!important;
   box-shadow:5px 3px 5px 3px rgba(0, 0, 0, 0.068)!important;
   background-color: #FFFF!important;
   width:550px !important;
   max-height: 300px !important;
   min-height:200px !important;
   height: 250px !important;
   padding:10px;

}
.cardinnerdata{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:250px;
}
.card-img-testominials .card-img{   
    max-height:150px !important;
    max-width: 250px !important;
    border-radius: 50%!important;
}
.review h4{
   position: relative;
 
}
.review h4::before{
    position: absolute;
    display: block;
    content: "";
    top: 100%;
    left: 0;
    height:1px;
    width: 100%;
    background-color:#5e5e5e5d;
}

.testominialsindicators>div>a>.carousel-control-prev-icon {
    border-radius: 50px!important;
    border: 2px solid white!important;
    background-color:transparent!important;
    padding: 10px; 
    position: absolute;
    left:-45px;
}
.testominialsindicators>div>a>.carousel-control-next-icon{
    border-radius: 50px!important;
    border: 2px solid white!important;
    background-color:transparent!important;
    padding: 10px; 
    position: absolute;
    right: -45px;

}
@media screen and (max-width:768px) and (min-width:576px) {
    .card-main-Testominals{
       width:250px !important;
       max-height: 300px !important;
       min-height: 200px !important;
     
    }
    .cardinnerdata{
        gap: 20px;
    }
    .testominialsindicators>div>a>.carousel-control-next-icon {
        display: none!important;
    }
    .testominialsindicators>div>a>.carousel-control-prev-icon {
        display: none!important;
    }

    
}
 @media screen and (max-width: 576px) { 
.cardinnerdata{
    gap: 50px;
}
.card-main-Testominals{
    width: 300px !important;
    height: 240px !important;
}

}


@media screen and (max-width:576px) and (min-width:300px)  {
    .testominialsindicators>div>a>.carousel-control-next-icon {
        display: none!important;
    }
    .testominialsindicators>div>a>.carousel-control-prev-icon {
        display: none!important;
    }
    
}


