.btn-last-banner-contact-Us{
    display: inline-block!important;
    color: #5E5E5E!important;
    background-color: #FFFFFF!important;
    font-weight:550!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;

}
.btn-last-banner-contact-Us:hover{
    color: #FFFFFF!important;
    background-color:#3B7FBF!important;
    border: none!important;
    width: 150px!important;
    height:40px!important;
    border-radius: 5px!important;
}
.lastheader{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    gap: 150px;
}
@media screen and (max-width:760px) and (min-width:576px) {
    .lastheader{
        letter-spacing:1px;
        gap: 50px
    }
}
@media screen and (max-width:576px) and (min-width:300px) {
    .lastheader{
        letter-spacing:1px;
        gap:5px;
        font-weight:600;
        color: white;
        font-size: 10px;
    }
}
.btn-last-banner-contact-Us{
    display: inline-block!important;
    background-color: #FFFFFF!important;
    font-weight:550!important;
    border: none!important;
    height:auto!important;
    border-radius: 5px!important;
    border: none!important;
    outline: none!important;
    box-shadow: none!important;

}