.phpImage{
    box-shadow: 2px 5px 2px 5px rgba(0, 0, 0, 0.057);
    border-radius:10px;
    width:100px;
}
.bgphp{
    background: linear-gradient(#4ECEFE,50%,#3B7FBF);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bgphp2{
    background: linear-gradient(#3B7FBF,50%,#4ECEFE);
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-prev,
.swiper-button-next {
  display: none !important;

}
.php-version-div{
    background-color: white;
    box-shadow: 0 15px 40px 10px rgb(154, 170, 207,20%);
    width: 300px;
    padding: 15px ;
    border-radius: 5px;
}

.php-section-services{
    background-color: white;
    box-shadow: 15px 15px 40px 0 rgba(154, 170, 207, 0.171)!important;
    border-radius: 10px;
    padding: 20px 15px;
    width:335px;
    height: 327px;
}
.php-section-services2{
    background-color: white;
    box-shadow: 15px 15px 40px 0 rgba(154, 170, 207, 0.171)!important;
    border-radius: 10px;
     padding: 5px 10px ;
    width:230px;
    height:300px;
    text-align: left;

}
.php-section1{
    box-shadow: 3px 5px 3px 5px rgba(0, 0, 0, 0.055);
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height:300px;
    transition: 0.3ms ease-in;
    
}
.php-section1:hover{
    transform:  translateY(-5px);


}
.btn-php-get-in-touch{
    border: none!important;
    background-color: white !important;
    box-shadow: none !important;
    outline: none !important;
    font-weight:  600 !important;
    color: #3B7FBF !important;


}
.btn-php-get-in-touch:hover{
    color: white !important;
    background-color: #3B7FBF !important;



}
.phpindicators>a>.carousel-control-next-icon{
    border-radius: 50px !important;
    border: 1px solid white !important;
    padding: 10px;

    
}
.phpindicators>a>.carousel-control-prev-icon{
    border-radius: 50px !important;
    border: 1px solid white !important;
    padding:10px;
    
    
}