
.devundercontentdiv{
    border: 1px solid rgba(128, 128, 128, 0.514);
    border-radius: 10px;
    background-color: #3B7FBF;
    width: 380px;
    height: 150px;
    gap:20px;
    padding: 10px;
    transition: 0.3ms ease-in-out;
    margin-bottom: 20px;
}
.devundercontentdiv:hover{
    box-shadow: 5px 5px 5px 10px   rgba(128, 128, 128, 0.151);
    transform: translateY(-2px);
    border: 1px solid white;
}
.img-devdivser{
    background-color: white;
    border-radius:50%; 
    padding:20px;
}
@media screen and (max-width:786px) {
    .devundercontentdiv{
        width: 350px;
        height: 100px;
        gap:10px;
        padding: 10px;
        transition: 0.3ms ease-in-out;
        margin-bottom: 20px;
    }
    .devtext>h5{
        font-size:15px;
    }
    .devtext>p{
        font-size:12px;
    }

    
}