.col-count{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.288);
}

.clients-card2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
 
}
.clients-card:hover{
    border-top: 15px solid rgba(0, 0, 0, 0.164);
    border-bottom: 15px solid rgba(0,0,0,0.164);

}
.clients-card2 img{
    width: 80px;
    height: 70px;
}
.clients-card2 h5{
    font-size: 45px;
    align-items: center;
    background: linear-gradient(to bottom, #4ECFFF, #3B7FBF);
-webkit-background-clip: text;
color: transparent;
text-shadow: 0 0 1px , #3B7FBF, #4ECFFF;
}
.clients-card2 p{
    font-size: 16px;
    font-weight: 450;
    align-items: center;
}
.clients-card2 img:hover {
    transform: rotateY(-360deg);
    transition: transform 300ms ease-in-out;
}
.count-img img{
 margin-right:10px;
 align-items: center;

}