.col-count-aboutpage{
    justify-content: center;
    align-items:center;
    gap:120px;
    padding:20px;
    box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.288);
}

.clients-card2-aboutpage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
 
}
.clients-card2-aboutpage h5{
    font-size: 45px;
    text-align: center;
    background: linear-gradient(to bottom, #4ECFFF, #3B7FBF);
-webkit-background-clip: text;
color: transparent;
text-shadow: 0 0 1px , #3B7FBF, #4ECFFF;
}
.clients-card2-aboutpage p{
    font-size: 16px;
    font-weight: 450;
    align-items: center;
}
.count-img-aboutpage img:hover {
    transform: rotateY(-360deg);
    transition: transform 300ms ease-in-out;
}
.count-img-aboutpage img{
    width: 80px;
    height: 70px;
   padding-right:10px;
   align-items: center;

}
@media screen and (max-width:768px) and (min-width:576px) {
    .col-count-aboutpage{
        gap:20px;
        padding:5px;
    
    }
    .count-img-aboutpage img{
        width:50px;
        height:40px;
        padding-right:0px;
    }
    .clients-card2-aboutpage h5{
        font-size:22px;
    }
    .clients-card2-aboutpage p{
        font-size: 12px;
    }
 
}
@media screen and (max-width:576px) and (min-width:360px) {
    .col-count-aboutpage{
        gap: 10px;
        padding:5px;
    
    }
    .count-img-aboutpage img{
        width:30px;
        height:20px;
        padding-right:0px;
    }
    .clients-card2-aboutpage h5{
        font-size:12px;
        font-weight:400;
    }
    .clients-card2-aboutpage p{
        font-size: 8px;
        font-weight:200;
    }

    
}